## Chronic Kidney Disease

This dataset can be used to predict chronic kidney disease and it has been collected at a hospital for a period of nearly 2 months.

(a) Identify the factors causing the chronic kidney disease.  
(b) Build a model that can help to determine if a patient is suffering from chronic kidney disease or not.

### Data Understanding

In [88]:
import pandas as pd
import numpy as np

In [89]:
pd.set_option("display.precision", 4)
np.random.seed(2021)

In [90]:
kidney_dataset = pd.read_csv("KidneyChronic.csv")

In [6]:
df = kidney_dataset

In [91]:
df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,48,80,1.02,1,0,?,normal,notpresent,notpresent,121,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7,50,1.02,4,0,?,normal,notpresent,notpresent,?,...,38,6000,?,no,no,no,good,no,no,ckd
2,62,80,1.01,2,3,normal,normal,notpresent,notpresent,423,...,31,7500,?,no,yes,no,poor,no,yes,ckd
3,48,70,1.005,4,0,normal,abnormal,present,notpresent,117,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51,80,1.01,2,0,normal,normal,notpresent,notpresent,106,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [93]:
print("df.shape:", df.shape)
print("df.columns:", df.columns)

df.shape: (400, 25)
df.columns: Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wbcc', 'rbcc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'class'],
      dtype='object')

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     400 non-null    object
 1   bp      400 non-null    object
 2   sg      400 non-null    object
 3   al      400 non-null    object
 4   su      400 non-null    object
 5   rbc     400 non-null    object
 6   pc      400 non-null    object
 7   pcc     400 non-null    object
 8   ba      400 non-null    object
 9   bgr     400 non-null    object
 10  bu      400 non-null    object
 11  sc      400 non-null    object
 12  sod     400 non-null    object
 13  pot     400 non-null    object
 14  hemo    400 non-null    object
 15  pcv     400 non-null    object
 16  wbcc    400 non-null    object
 17  rbcc    400 non-null    object
 18  htn     400 non-null    object
 19  dm      400 non-null    object
 20  cad     400 non-null    object
 21  appet   400 non-null    object
 22  pe      400 non-null    object
 23  ane     400 non-null    object
 24  class   400 non-null    object
dtypes: object(25)
memory usage: 78.2+ KB
None

#### age attribute

In [96]:
age = df["age"]
print("type(age):", type(age))
print("age.count():", age.count())
print("age.isna().sum():", age.isna().sum())
print("age.notna().sum():", age.notna().sum())

age_without_missing_values = age[age != '?']
age_with_missing_values = age[age == '?']

print("age_without_missing_values.dtype:", age_without_missing_values.dtype)
age_without_missing_values = pd.to_numeric(age_without_missing_values)
print("age_without_missing_values.dtype:", age_without_missing_values.dtype)

print("age_without_missing_values.mean():", age_without_missing_values.mean())
age_without_missing_values_mean = age_without_missing_values.mean()
age_with_missing_values.replace('?', age_without_missing_values_mean)

age_customized = pd.to_numeric(age_with_missing_values + age_without_missing_values)

print("age_customized.dtype:", age_customized.dtype)
print("age_customized.mean():", age_customized.mean())

type(age): <class 'pandas.core.series.Series'>
age.count(): 400
age.isna().sum(): 0
age.notna().sum(): 400
age_without_missing_values.dtype: object
age_without_missing_values.dtype: int64
age_without_missing_values.mean(): 51.48337595907928
age_customized.dtype: float64
age_customized.mean(): nan

In [87]:
bp=df['bp']
print(bp.dtype)
print(bp.count())
print(bp.value_counts())

bp_without_missing_values = bp[bp != '?']
bp_with_missing_values = bp[bp == '?']
print(bp_without_missing_values.dtype)
bp_without_missing_values = pd.to_numeric(bp_without_missing_values)
print("mean:",bp_without_missing_values.mean())
print(bp_without_missing_values.dtype)

object
400
80     116
70     112
60      71
90      53
100     25
?       12
50       5
110      3
120      1
180      1
140      1
Name: bp, dtype: int64
object
mean: 76.46907216494846
int64

In [76]:
sg=df['sg']
print(sg.dtype)
print(sg.count())
sg.value_counts()

object
400

1.02     106
1.01      84
1.025     81
1.015     75
?         47
1.005      7
Name: sg, dtype: int64

### Data Preparation and EDA

### Model Building and Evaluation

### THE END